# Зависимости проекта для работы и сборки exe файла
aiopylgtv>=0.4.0  # Для работы с LG мониторами через webOS
pystray>=0.19.0  # Для системного трея
Pillow>=10.0.0  # Для создания иконки системного трея
pyinstaller>=6.0.0  # Для создания exe файла
